// Colors
$primary: #141128;
$secondary: #6639e4;
$dark: #272c34;
$black: #111;
$green: #77f123;
$red: #ff2933;
$white: #fff;
$grey-100: #d7d7d7;
$grey-200: #e2e2e2;

// Breakpoints and sizes
$breakpoints: (
  xs: 375px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);
$max-width: map-get($breakpoints, 'xl');
